doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/index.css')
  body
    block content
  //- jquery
  script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  //- app js
  script(type='text/javascript' src='/scripts/script.js')
